// contact.scss
@import 'typography';

.contact_form {
  text-align: center;
  margin-top: 20px;
  border: none;

  fieldset {
    border: 2px solid $primary;
    padding: 20px;
    border-radius: 10px;

    legend {
      font-size: 24px;
      font-weight: bold;
      color: $primary;
      margin-bottom: 20px;
    }

    .input-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      div {
        flex: 0 0 48%;
        text-align: left;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }

        input,
        textarea {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          border: 1px solid $primary;
          border-radius: 5px;
          box-sizing: border-box;
          outline: none;
        }

        button {
          background-color: $primary;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s;

          &:hover {
            background-color: $secondary;
          }
        }
      }
    }
    .message-label{
        font-weight: 800 !important;
    }
    .form_message {
      width: 100%;
      height: 100px;
      padding: 8px;
      border: 1px solid $primary;
      border-radius: 5px;
      box-sizing: border-box;
      outline: none;
    }
  }
  
  button {
    background-color: $primary;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary;
    }
}
}
